/* Container
.Contaienr{
    border: 2px solid red;
}

Header
.Header{
    border: 2px solid green;
}

/* Body */
/* .Body{
    border: 2px solid blue;
}
 */ 
 .calendarRoot {
    --grid-gap: 2px;
    --grid-height: 700px;
    --text-color-light: rgba(0, 0, 0, 0.4);
    --text-color-primary: rgba(0, 0, 0, 0.7);
    --grid-background-color: rgb(211, 205, 198);
    --grid-foreground-color: white;
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
    width: 100%;
  }
  
  /* | Sun | Mon | Tue | Wed | Thu | Fri | Sat  */
  .dayofweekheadercell {
    color: var(--text-color-primary);
    background-color: var(--grid-foreground-color);
    padding: var(--space-md) 0;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .daysofweek,
  .daysgrid {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
  }
  
  .daysgrid {
    height: var(--grid-height);
    position: relative;
    border: var(--grid-gap) solid var(--grid-background-color);
    background-color: var(--grid-background-color);
  }
  
  .daygriditemcontainer {
    position: relative;
    background-color: var(--grid-foreground-color);
    display: flex;
    flex-direction: column;
  }
  
  .daygriditemcontainer:not(.current-month) .daygriditemheader {
    color: var(--text-color-light);
  }
  
  /* Position the day label within the day cell */
  .daygriditemcontainer .daygriditemheader {
    color: var(--text-color-primary);
    padding: var(--space-md);
    padding-bottom: 0;
    flex-shrink: 0;
    font-weight: bold;
  }
  
  .daygriditemcontainer > .daycontentwrapper {
    flex: 1;
    min-height: 0;
    position: relative;
  }
  .monthnavarrowbuttons {
    padding-left: 20px;
    display: flex;
  align-items: center;
  }
  .navigationheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .navigationheader > * {
    margin-right: var(--space-md);
  }
  .arrowbuttons {
    background-color: white;
    border: none;
  }
  
  .todspan {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
  }