.container {
    background-color: rgb(255, 255, 255);
    height: 100%;
    border-radius: 8px;
}

.container>h1 {
    color: rgb(0, 0, 0);
}

.fullWidthWidget {
    transition: 1s linear;
    grid-column: 1 / 3;
}