.sidebar {
    position: fixed !important;
    background-color: #1e1f21;
    /* border: 1px solid red; */
    top: 3rem;
    width: 250px;
    height: 95.3vh;
    transition: 0.6s linear;
}

.hideSidebar {
    margin-left: -250px !important;
    transition: 0.6s linear;
}

.sidebarItemsContainer {
    /* border: 1px solid red; */
    border-top: 1px solid #424244;
    padding-left: 20px;
    padding-top: 10px;
}

.btn_createSidebar {
    border-radius: 24px !important;
    border: 1px solid #424244;
    color: white;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: none;
    padding-top: 9px !important;
    padding-left: 20px;
    height: 43px;
    margin-top: 15px;
}
.btn_createSidebar:hover{
    background-color: #2b2c2e;
}

.SidebarMenuList {
    list-style: none;
    /* border: 1px solid rgb(0, 72, 255); */
    padding-bottom: 5px;
    margin-left: -25px !important;
    margin-top: 10px;
}

.SidebarMenuList li {
    color: #d7d6d5;
    cursor: pointer;
    width: 250px !important;
    margin-left: -32px;
    height: 38px;
    padding-top: 2.5%;
    padding-left: 25px;
}

.SidebarMenuList li:hover {
    background-color: #303132;
}

.selected_Menu_Item, .selected_Menu_Item:hover {
    background-color: #424345 !important;
}

.itemMenuListText {
    margin-top: 2px;
}

.itemMenuListText {
    margin-left: 8px;
}

/* __________________________________ Workspace block ___________________________________ */
.workSpaceBlock {
    border: 1px solid #424244;
    width: 248px;
    margin-left: -20px;
}

.worspace_text_block {
    color: #ffffff;
    height: 35px;
    margin-top: 10px;
}

.worspace_text_block:hover {
    background-color: #303132;
    cursor: pointer;
}

/* Project Members Block */
.projectListCoverContainer{
    margin-top: -10px;
}

.projectMembersBlock {
    /* border: 1px solid red; */
    list-style: none;
    margin-left: -25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.projectMembersBlock li {
    margin-left: 10px;
}

.projectListContainer{
    /* border: 1px solid red; */
    width: 255px;
    margin-left: -25px;
    height: 30px;
    padding-left: 18px;
    padding-right: 35px;
}
.projectListContainer:hover{
    background-color: #303132;
    cursor: pointer;
}

.projectName{
    color: #ffffff;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 15px;
    height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:170px; /* some width */
}

.projectListCoverContainer{
    list-style: none;
    margin-left: -15px;
}

/* ________________________________________ Footer block ________________________________________ */
.sidebarFooter{
    /* border: 1px solid red; */
    position: absolute;
    bottom: 0px;
    margin-left: -25px;
    width: 252px;
    height: 50px;
    background-color: #1e1f21;
    border-top: 1px solid #424244;
    border-bottom: 1px solid #424244;
    padding-bottom: 5px;
}

.sidebarFooterContainer{
    /* border: 1px solid red; */
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-weight: 300;
}
/* ________________________________________ Footer block ________________________________________ */