@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.main {
    width: auto;
    height: auto;
}

.rightSideContainer {
    width: 100%;
    height: 100%;

    margin-top: 3rem;
    /* border: 2px solid rgb(255, 0, 0);
    background-color: rgb(144, 3, 226); */
}

/* When the right side container will shrink */
.shrinkContainer {
    margin-left: 15.5rem;
    transition: 0.2s linear;
}

/* When the right side container will expand */
.expandContainer {
    margin-left: 0rem;
    transition: 0.2s linear;
}

@media all and (max-width:1500px){
    .rightSideContainer {
        width: 100%;
        height: 100%;

        padding-left: 2%;
        padding-right: 2%;
        /* border: 2px solid rgb(255, 0, 0);
        background-color: rgb(77, 226, 3); */
    }
}