@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.welcomeHeading {
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-transform: none;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    /* color: #222325; */
    color: white;
    /* text-shadow: 2px 5px 10px #000000; */
}

.customizeButton {
    /* border: 1px solid red !important; */
    border-radius: 20px !important;
    background-color: #938a8a43 !important;
    color: white !important;
    font-size: 15px !important;
    font-weight: 300 !important;
    text-transform: none !important;
    box-shadow: none !important;
    
}

.customizeButton::before {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    backdrop-filter: blur(50px) !important;
    /* Adjust the blur value to your preference */
    z-index: -1 !important;
}

.mainSectionContainer {
    /* border: 3px solid red;  */
    width: 96%;
    margin-left: 2%;
    height: 100vh;
}


.main {
    width: auto;
    height: auto;
    background-color: white;
}

.rightSideContainer {
    width: 100%;
    height: 100%;

    margin-top: 3rem;
    /* border: 10px solid rgb(255, 0, 0); */
    background-color: white;
}

/* When the right side container will shrink */
.shrinkContainer {
    margin-left: 15.5rem;
    transition: 0.2s linear;
}

/* When the right side container will expand */
.expandContainer {
    margin-left: 0rem;
    transition: 0.2s linear;
}

.statsContainer {
    width: 600px;
    height: 48px;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    /* border: 2px solid rgb(0, 255, 0); */
    border-radius: 5px;
    background-color: rgba(46, 45, 45, 0.8);
    color: white;
}

.statsContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    backdrop-filter: blur(150px);
    /* Adjust the blur value to your preference */
    z-index: -1;
}


.btn_dropdown {
    height: 28px !important;
    margin-top: 10px;
    font-size: 15px;
    text-transform: none;
    padding-top: 3px;
    font-weight: 300;
    color: #6d6d6d;
    background-color: transparent;
    border-radius: 6px !important;
}

.btn_dropdown:hover {
    background-color: #f3f1f132;
    color: #2c2a2a;
}

.btn_dropdown:focus {
    background-color: #f3f1f132;
    box-shadow: none !important;
}

.stats1 {
    width: 32.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid rgb(0, 0, 255); */
}

.stats2 {
    width: 35%;
    height: 100%;
    display: flex;
    padding-top: 7px;
    font-size: 15px;
    font-weight: 300;
    justify-content: center;
    /* border: 1px solid rgb(0, 0, 255); */
}

.stats3 {
    width: 32.5%;
    height: 100%;
    display: flex;
    padding-top: 7px;
    font-size: 15px;
    font-weight: 300;
    justify-content: center;
    /* border: 1px solid rgb(0, 0, 255); */
}

/* _______________________________ widgetsContainer _______________________________ */
.widgetsContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 49% 49% !important;
    grid-gap: 1rem;
    /* border: 2px solid rgb(90, 1, 81) !important; */
    margin-top: 35px;
    transition: 1s linear;
}

.widget {
    position: relative;
    /* background-color: rgba(28, 28, 28, 0.082); */
    background-color: #565f668e;
    color: black;
    /* border: 1px solid #edeae9; */
    border-radius: 8px;
    padding: 0rem;
    height: 24.5rem;
    transition: 1s linear;
    cursor: pointer;
    transition: width 250ms ease;
    transition-duration: 250ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: width;
    border: none !important;
}

.widget::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(1150px);
    /* Adjust the blur value to your preference */
    z-index: -1;
}

.widget:hover {
    /* border: 1px solid #bebebe; */
    transition: 0.1s linear;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.fullWidthWidget {
    transition: 1s linear;
    grid-column: 1 / 3;
}

/* _______________________________ Pointer Out _______________________________ */
.pointerOut {
    cursor: pointer;
    /* border: 1px solid #edeae9; */
    transition: 0.3s linear !important;
}

.pointerDown {
    cursor: pointer;
    /* border: 1px solid black; */
    transition: 0.3s linear !important;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .widgetsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .widgetsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* _______________________________ widgetsContainer _______________________________ */