.container {
    /* border: 1px solid rgb(255, 0, 0); */
}

.header{
    position: sticky !important;
    /* border: 1px solid red; */
    top: 5.3%;
    margin-left: 2px;
    background-color: white;
}

.mainContainer {
    /* border: 1px solid rgb(0, 255, 0); */
}
