/* Main Container */
.container {
    /* border: 1px solid red; */
    background-color: #f9f8f8;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 33px;
}

.main {
    width: auto;
    height: auto;
    background-color: white;
}
