@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.main {
    width: 100%;
    height: 100%;
    /* border: 5px solid red; */
    /* border: 2px solid rgb(255, 0, 0); */
    background-color: rgb(255, 255, 255);
}