.container {
    background-color: rgb(212, 0, 0);
    height: 100%;
    border-radius: 8px;
}

.container>h1 {
    color: white;
}

.fullWidthWidget {
    transition: 1s linear;
    grid-column: 1 / 3;
}