.container {
    /* border: 5px solid red; */
    padding-left: 2px;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

.addDashboardContainer {
    margin-top: 20px;
    border-top: 1px solid rgb(203, 203, 208);
    border-bottom: 1px solid rgb(203, 203, 208);
    padding-top: 15px;
    padding-bottom: 15px;
}