.container {
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-top: 30px;
    height: 100%;
    border-radius: 8px;
}

.container>div>h1 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
}

.btn_dropdown {
    height: 25px !important;
    margin-top: 10px;
    font-size: 14px;
    text-transform: none;
    padding-top: 3px;
    font-weight: 300;
    color: #6d6d6d;
    background-color: transparent;
    border-radius: 6px !important;
}

.btn_dropdown:hover {
    background-color: #f3f1f1;
    color: #2c2a2a;
}

.btn_dropdown:focus {
    background-color: #f3f1f1;
    box-shadow: none !important;
}

.peopleSliderContainer {
    display: flex;
    justify-content: space-between;
    height: 310px;
    margin-top: 8px !important;
    /* border-top: 5px solid #126e717c;
    border-bottom: 5px solid #126e7171; */
    /* border-left: 0.1px solid #126e7171;
    border-right: 0.1px solid #126e7171; */
    padding-top: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
    /* border:1px solid red; */
}

/* The sub Container that contains all the items list of books in slider */
.subContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    /* Make the slider flow smooth */
    scroll-behavior: smooth;
}

/* Books Slider Item Individual */
.peopleSliderItem {
    height: 268px;
    width: 218px !important;
    border: 1px solid #f0eeed;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    user-select: none;
}
.peopleSliderItem:hover {
    border: 1px solid rgb(141, 141, 141);
}

.peopleSliderItemImg {
    width: 64px;
    margin-top: 25px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-size: 32px;
    color: white;
    background-color: darkblue;
}

.peopleSliderItemContent h4{
    font-size: 17px;
    font-weight: 300;
    margin-top: 20px !important;
    text-align: center;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1e1f21;
    /* border: 1px solid red; */
    margin-left: 5%;
    margin-right: 5%;
}

.leftPeopleSliderButton {
    align-self: center;
    margin-left: -22px;
    width: 45px;
    height: 45px;
    /* border: 1px solid red; */
    background-color: white;
    color: #6d6e6f !important;
    border: 1px solid #e6e4e4 !important;
    transition: 0.1s linear;
}

.leftPeopleSliderButton:hover {
    background-color: #f9f8f8 !important;
    color: #1e1f21 !important;
    border: 1px solid #b2aeaf !important;
    transition: 0.1s linear;
}

.rightPeopleSliderButton {
    align-self: center;
    margin-right: -22px;
    /* border: 1px solid red; */
    background-color: white;
    color: #6d6e6f !important;
    width: 45px;
    height: 45px;
    border: 1px solid #e6e4e4 !important;
    transition: 0.1s linear;
}

.rightPeopleSliderButton:hover {
    transition: 0.1s linear;
    border: 1px solid #b2aeaf !important;
    background-color: #f9f8f8 !important;
    color: #1e1f21 !important;
}

.infoContainer{
    font-size: 14px;
    font-weight: 300;
    color: #6d6d6d;
    margin-top: 0px !important;
    margin-bottom: 2px;
    width: 90%;
    text-align: center;
}