.main {
  width: auto;
  height: auto;
  background-color: white;
}

.rightSideContainer {
  width: 100%;
  height: 100%;

  margin-top: 3rem;
  /* border: 10px solid rgb(255, 0, 0); */
  background-color: white;
}

/* When the right side container will shrink */
.shrinkContainer {
  margin-left: 15.5rem;
  transition: 0.6s linear;
}

/* When the right side container will expand */
.expandContainer {
  margin-left: 0rem;
  transition: 0.6s linear;
}

.statsContainer {
  width: 600px;
  height: 48px;
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  /* border: 2px solid rgb(0, 255, 0); */
  border-radius: 60px;
  background-color: #f9f8f8;
}

.btn_dropdown {
  height: 28px !important;
  margin-top: 10px;
  font-size: 15px;
  text-transform: none;
  padding-top: 3px;
  font-weight: 300;
  color: #6d6d6d;
  background-color: transparent;
  border-radius: 6px !important;
}

.btn_dropdown:hover {
  background-color: #f3f1f1;
  color: #2c2a2a;
}

.btn_dropdown:focus {
  background-color: #f3f1f1;
  box-shadow: none !important;
}

.stats1 {
  width: 32.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid rgb(0, 0, 255); */
}

.stats2 {
  width: 35%;
  height: 100%;
  display: flex;
  padding-top: 7px;
  font-size: 15px;
  font-weight: 300;
  justify-content: center;
  /* border: 1px solid rgb(0, 0, 255); */
}

.stats3 {
  width: 32.5%;
  height: 100%;
  display: flex;
  padding-top: 7px;
  font-size: 15px;
  font-weight: 300;
  justify-content: center;
  /* border: 1px solid rgb(0, 0, 255); */
}

/* _______________________________ widgetsContainer _______________________________ */
.widgetsContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 49% 49% !important;
  grid-gap: 1rem;
  /* border: 2px solid rgb(90, 1, 81); */
  margin-top: 35px;
  transition: 1s linear;
}

.widget {
  background-color: white;
  color: black;
  border: 1px solid #edeae9;
  border-radius: 8px;
  padding: 0.3rem;
  height: 24.5rem;

  transition: 1s linear;
  cursor: pointer;
  transition: width 250ms ease;
  transition-duration: 250ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: width;
}

.widget:hover {
  border: 1px solid #bebebe;
  transition: 0.2s linear;
  box-shadow: rgba(99, 99, 99, 0.323) 0px 1px 3px 0px;
}

.widget:focus {
  border: 1.5px solid #ff0000;
}

.fullWidthWidget {
  transition: 1s linear;
  grid-column: 1 / 3;
}

/* _______________________________ Pointer Out _______________________________ */
.pointerOut {
  cursor: pointer;
  border: 1px solid #edeae9;
  transition: 0.3s linear !important;
}

.pointerDown {
  cursor: pointer;
  border: 1px solid black;
  transition: 0.3s linear !important;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .widgetsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .widgetsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* _______________________________ widgetsContainer _______________________________ */